{% extends 'base.html' %} {% block content%}

<!-- Navbar -->


<!-- Glavni kontejner -->
<div class="container">
    <div class="row justify-content-end my-3">
        <a class="btn btn-primary" href= {{ url_for('newproizvod') }} role="button">Dodaj proizvod</a>
      </div>
  <div class="row">
    <!-- Drugi Idiv -->
    <div class="col-md-12">
      <div class="mb-3">
        <h3>Dostupni proizvodi:</h3>
      </div>
      <div>
        <!-- SortDiv -->
        <div id="sortDiv-SkladisteProizvod" class="sortDiv"></div>
        <!-- TabelDiv -->
        <div id="tabelDiv-SkladisteProizvod" class="tabelDiv">
          <table class="table table-striped text-center" id="skladisteproizvod-tabela">
            <thead>
              <tr>
                <th>ID</th>
                <th>Naziv</th>
                <th>Kategorija</th>
                <th>Cena</th>
                <th>Slika</th>
                <th>Akcije</th>
              </tr>
            </thead>
            <tbody id="skladisteproizvod-telo">
              {% for proizvod in proizvod %}
              <tr>
                <td class="align-middle">{{proizvod.id}}</td>
                <td class="align-middle">{{proizvod.naziv}}</td>
                <td class="align-middle">{{proizvod.kategorija}}</td>
                <td class="align-middle">{{proizvod.cena}}</td>
                <td class="align-middle">
                  <img 
                    {% if proizvod.slika %}
                      src="/static/uploads/{{ proizvod.slika }}"
                    {% else %}
                      src="/static/placeholder.png"
                    {% endif %} 
                    id="slika_pregled" 
                    width="100" 
                    height="100"
                    class="img-fluid"
                  />
                </td>
                <td class="align-middle text-center d-flex justify-content-center">
                  <a class="icon-btn orange mb-2 ml-2" href={{ url_for('editproizvod', id=proizvod.id) }} role="button">
                    <i class="fas fa-edit"></i>
                  </a>
                  <form action={{ url_for('deleteproizvod', id=proizvod.id)  }} method="POST">
                    <button class="icon-btn red mb-2 ml-2">
                      <i class="fas fa-trash-alt "></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        
        
      </div>
    </div>
  </div>
</div>
{% endblock %}