{% extends 'base.html' %}
{% block content %}



  <!-- forma -->

  <div class='container col-lg-2 col-xs-12'>

 <div class="my-5">
  <h3>Izmena korisnika</h3>
 </div>

  <form>

  <div class="form-group">
    <label for="ime">Ime</label>
    <input type="text" class="form-control" id="ime">
  </div>

  
  <div class="form-group">
    <label for="prezime">Prezime</label>
    <input type="text" class="form-control" id="prezime">
  </div>

  <div class="form-group">
    <label for="emailNovi">Email</label>
    <input type="email" class="form-control" id="emailNovi">
  </div>

  <div class="form-group">
    <label for="lozinka">Lozinka</label>
    <input type="text" class="form-control" id="lozinka">
  </div>
  
  <a class="btn btn-primary" href='#' role="button">Sačuvaj</a>
</form>
      
    </div>
  </div>
  
</div>

  {% endblock %}