{% extends 'base.html' %} {% block content%}

<!-- Navbar -->

<!-- Glavni kontejner -->
<!-- forma -->
<div class="container col-lg-2 col-xs-12">
  <div class="my-5">
    <h3>Izmena skladišta</h3>
  </div>

  <form action={{ url_for('editskladiste', sid=skladiste.id) }} method="POST">
    <div class="form-group">
      <label for="naziv">Naziv</label>
      <input type="text" class="form-control" id="naziv" name="naziv" value="{{skladiste.naziv}}"/>
    </div>

    <div class="form-group">
      <label for="adresa">Adresa</label>
      <input type="text" class="form-control" id="adresa" name="adresa" value="{{skladiste.adresa}}" />
    </div>

    <div class="form-group">
      <label for="kapacitet">Kapacitet</label>
      <input type="number" class="form-control" id="kapacitet" name="kapacitet" value="{{skladiste.kapacitet}}"/>
    </div>

    <button type="submit" class="btn btn-primary" href="#" role="button">Sačuvaj</button>
  </form>
</div>

{% endblock %}
