{% extends 'base.html' %} {% block content%}

<!-- Navbar -->

<!-- Glavni kontejner -->
<!-- forma -->
<div class="container col-lg-2 col-xs-12">
  <div class="my-5">
    <h3>Izmena proizvoda</h3>
  </div>

  <form>
    <div class="form-group">
      <label for="naziv">Naziv</label>
      <input type="text" class="form-control" id="naziv" />
    </div>

    <div class="form-group">
      <label for="kategorija">Kategorija</label>
      <input type="text" class="form-control" id="kategorija" />
    </div>

    <div class="form-group">
      <label for="cena">Cena</label>
      <input type="number" class="form-control" id="cena" />
    </div>

    <a class="btn btn-primary" href="#" role="button">Sačuvaj</a>
  </form>
</div>

{% endblock %}
