{% extends 'base.html' %} {% block content %}

<!-- Glavni kontejner -->
<div class="container">
  <div class="row">
    <!-- Prvi Idiv -->
    <div class="col-md-12">
      <div class="mb-3">
        <div
          class="naslov d-flex flex-column align-items-center justify-content-center"
        >
          <h2>Grafički prikaz popunjenosti kapaciteta skladišta:</h2>
          <h4 id="naziv-skladista">Gigatron Niš</h4>
        </div>
        <div class="parametri col-12">
          <div class="row justify-content-between">
            <div class="kapacitet d-flex col-4 justify-content-center">
              <h5 id="kapacitet">Kapacitet: 4900</h5>
            </div>
            <div class="popunjeno d-flex col-4 justify-content-center">
              <h5 id="popunjeno">Popunjeno: 1363</h5>
            </div>
            <div class="dostupno d-flex col-4 justify-content-center">
              <h5 id="dostupno">Dostupno: 3537</h5>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- Prilagođeni Bootstrap progress bar -->
        <div class="custom-progress-container">
          <div class="progress custom-progress-bar">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 28%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <div class="procenat-popunjenosti d-flex justify-content-center">
          <h2 class="" id="procenat-popunjenosti">28%</h2>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
