{% extends 'base.html' %}
{% block content %}



  <!-- forma -->

  <div class='container col-lg-2 col-xs-12'>

 <div class="my-5">
  <h3>Poruči proizvod</h3>
 </div>

  <form action={{ url_for('poruciproizvod', sid=sid, id=id) }} method="POST">

  <div class="form-group">
    <label for="izaberi-proizvod">Izaberi proizvod</label>
    <select
    id="izaberi-proizvod"
    class="form-control"
    name="proizvod"
    required
  >
    {% for proizvod in proizvod %}
      <option value="{{ proizvod.id }}" {% if proizvod.id == id|int %} selected {% endif %}>{{ proizvod.naziv }}</option>
    {% endfor %}
  </select>
  </div>

  
  <div class="form-group">
    <label for="kolicina-proizvod">Količina</label>
                <input
                  type="number"
                  class="form-control"
                  id="kolicina-proizvod"
                  name="kolicina"
                  placeholder=""
                  required
                />
  </div>
  
  <button type="submit" class="btn btn-primary" href='#' role="button">Poruči</button>
</form>
      
    </div>
  </div>
  
</div>

  {% endblock %}