{% extends 'base.html' %} {% block content%}

<!-- Navbar -->


<!-- Glavni kontejner -->
<div class="container">
  <div class="row justify-content-end my-3">
    <a class="btn btn-primary" href= {{ url_for('poruciproizvod', sid=sid) }} role="button">Poruči proizvode</a>
  </div>
  <div class="row">
    <!-- Drugi Idiv -->
    <div class="col-md-12">
      <div class="mb-3">
        <h3>Proizvodi na lageru:</h3>
      </div>
      <div>
        <!-- SortDiv -->
        <div id="sortDiv-SkladisteProizvod" class="sortDiv"></div>
        <!-- TabelDiv -->
        <div id="tabelDiv-SkladisteProizvod" class="tabelDiv">
          <table class="table table-striped text-center" id="skladisteproizvod-tabela">
            <thead>
              <tr>
                <th>ID</th>
                <th>Naziv</th>
                <th>Kategorija</th>
                <th>Cena</th>
                <th>Količina</th>
                <th>Slika</th>
                <th>Akcije</th>
              </tr>
            </thead>
            <tbody id="skladisteproizvod-telo">
              {% for proizvod in proizvod %}
              <tr>
                <td class="align-middle">{{proizvod.id}}</td>
                <td class="align-middle">{{proizvod.naziv}}</td>
                <td class="align-middle">{{proizvod.kategorija}}</td>
                <td class="align-middle">{{proizvod.cena}}</td>
                <td class="align-middle">{{proizvod.kolicina}}</td>
                <td class="align-middle">
                  <img 
                    {% if proizvod.slika %}
                      src="/static/uploads/{{ proizvod.slika }}"
                    {% else %}
                      src="/static/placeholder.png"
                    {% endif %} 
                    id="slika_pregled" 
                    width="100" 
                    height="100"
                    class="img-fluid"
                  />
                </td>
                <td class="align-middle d-flex justify-content-center">
                  <a class="icon-btn mb-2 ml-2" href={{ url_for('poruciproizvod', id=proizvod.id, sid=sid) }} role="button" style="color: #28a745;">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                  <a class="icon-btn red mb-2 ml-2" href={{ url_for('isporuciproizvod', id=proizvod.id, sid=sid) }} role="button">
                    <i class="fas fa-truck"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
