{% extends 'base.html' %} {% block content%}

<!-- Navbar -->


<!-- Glavni kontejner -->
<div class="container">
  <div class="row">
    <!-- Drugi Idiv -->
    <div class="col-md-12">
      <div class="mb-3">
        <h3>Proizvodi na lageru:</h3>
      </div>
      <div>
        <!-- SortDiv -->
        <div id="sortDiv-SkladisteProizvod" class="sortDiv"></div>
        <!-- TabelDiv -->
        <div id="tabelDiv-SkladisteProizvod" class="tabelDiv">
          <table class="table table-striped text-center" id="skladisteproizvod-tabela">
            <thead>
              <tr>
                <th>ID</th>
                <th>Naziv</th>
                <th>Kategorija</th>
                <th>Cena</th>
                <th>Kolicina</th>
                <th>Akcije</th>
              </tr>
            </thead>
            <tbody id="skladisteproizvod-telo">
                <tr>
            
                    <td>1</td>
                    <td>Laptop</td>
                    <td>Elektronika</td>
                    <td>79900</td>
                    <td>15</td>
                    <td class="d-inline-flex">
                  
                        <a class="icon-btn mb-2 ml-2" href={{ url_for('poruciproizvod') }} role="button" style="color: #28a745;">
                          <i class="form-inline fas fa-shopping-cart"></i>     
                          </a>
                
                          <a class="icon-btn red mb-2 ml-2" href={{ url_for('isporuciproizvod') }} role="button">
                            <i class="form-inline fas fa-truck"></i>                       
                             </a>
                    </td>
                  </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
