{% extends 'base.html' %} {% block content%}

<!-- Glavni kontejner -->
<div class="container">
    <div class="row justify-content-end my-3">
        <a class="btn btn-primary" href= {{ url_for('newskladiste') }} role="button">Dodaj skladište</a>
      </div>
  <div class="row justify-content-center">
    <!-- Drugi Idiv -->
    <div class="col-md-12">
      <div class="mb-3">
        <h3>Skladišta:</h3>
      </div>
      <div>
        <!-- SortDiv -->
        <div id="sortDiv-Skladiste" class="sortDiv"></div>
        <!-- TabelDiv -->
        <div id="tabelDiv-Skladiste" class="tabelDiv">
          <table class="table table-striped" id="skladiste-tabela">
            <thead>
                <tr>
                    <th class="align-middle">ID</th>
                    <th class="align-middle">Naziv</th>
                    <th class="align-middle">Adresa</th>
                    <th class="align-middle">Kapacitet</th>
                    <th class="align-middle">Prikaži</th>
                    <th class="align-middle">Akcije</th>
                </tr>
            </thead>
            <tbody id="skladiste-telo">
              {% for skladiste in skladiste %}
                <tr>
                    <td class="align-middle">{{skladiste.id}}</td>
                    <td class="align-middle">{{skladiste.naziv}}</td>
                    <td class="align-middle">{{skladiste.adresa}}</td>
                    <td class="align-middle">{{skladiste.kapacitet}}</td>
                    <td class="align-middle text-center">
                        <a class="btn btn-primary" href={{ url_for('popunjenost', sid=skladiste.id) }} role="button">Prikaži</a>
                    </td>
                    <td class="align-middle text-center">
                        <a class="icon-btn orange" href={{ url_for('editskladiste', sid=skladiste.id) }} role="button">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action={{ url_for('deleteskladiste', sid=skladiste.id) }} method="POST" class="d-inline">
                            <button class="icon-btn red" type="submit">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
