{% extends 'base.html' %} {% block content%}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container justify-content-center">
    <a class="navbar-brand" href={{ url_for('skladista') }}
      >SUS - Sistem za upravljanje skladištem</a
    >
  </div>
</nav>

<!-- Glavni kontejner -->
<div class="container">
    <div class="row justify-content-end my-3">
        <a class="btn btn-primary" href= {{ url_for('newskladiste') }} role="button">Dodaj skladište</a>
      </div>
  <div class="row justify-content-center">
    <!-- Drugi Idiv -->
    <div class="col-md-12">
      <div class="mb-3">
        <h3>Skladišta:</h3>
      </div>
      <div>
        <!-- SortDiv -->
        <div id="sortDiv-Skladiste" class="sortDiv"></div>
        <!-- TabelDiv -->
        <div id="tabelDiv-Skladiste" class="tabelDiv">
          <table class="table table-striped" id="skladiste-tabela">
            <thead>
              <tr>
                <th>ID</th>
                <th>Naziv</th>
                <th>Adresa</th>
                <th>Kapacitet</th>
                <th>Prikaži</th>
                <th>Akcije</th>
              </tr>
            </thead>
            <tbody id="skladiste-telo">
                <tr>
            
                    <td>1</td>
                    <td>Gigatron Nis</td>
                    <td>Knjazevacka 10</td>
                    <td>10000</td>
                    <td>
                        <a class="btn btn-primary mb-2 ml-2" href={{ url_for('users') }} role="button">
                            <!-- <i class=" form-inline fas fa-edit"></i> --> Prikaži
                          </a>
                    </td>
                    <td class="d-inline-flex">
                  
                        <a class="icon-btn orange mb-2 ml-2" href={{ url_for('users') }} role="button">
                            <i class=" form-inline fas fa-edit"></i>
                          </a>
                
                          <form action="">
                            <button class="form-inline icon-btn red mb-2 ml-2">
                              <i class="fas fa-trash-alt "></i>
                            </button>
                          </form>
                    </td>
                  </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
