{% extends 'base.html' %}

{% block content%}

<div class="container">

    <div class="row justify-content-end my-3">
        <a class="btn btn-primary" href= {{ url_for('newuser') }} role="button">Dodaj korisnika</a>
      </div>


    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Email</th>
            <th scope="col">Akcije</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>Slavimir</td>
            <td>Stosovic</td>
            <td>slavimir.stosovic@vtsnis.edu.rs</td>
            <td class="d-inline-flex">
          
                <a class="icon-btn orange mb-2 ml-2" href={{ url_for('edituser') }} role="button">
                    <i class=" form-inline fas fa-edit"></i>
                  </a>
        
                  <form action="">
                    <button class="form-inline icon-btn red mb-2 ml-2">
                      <i class="fas fa-trash-alt "></i>
                    </button>
                  </form>
            </td>
          </tr>

          
        </tbody>
      </table>
</div>

{% endblock %}